*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#logo{

    display: flex;
    background-color:  rgb(248, 0, 50);

}

#logo > img{

    padding-left: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cadastro{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    margin-top: 5%;
}

#cadastro h1{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    height: 39px;
    color: rgb(102, 102, 102);
}

#cadastro h2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px ;
    height: 41px;
    color: rgb(102, 102, 102);
}

#experiencia{

    margin-top: -17px;
}

/*
#cadastro h5{
    font-size: 11px;
    font-family: Arial;
    padding: 0px ;
    height: 41px;
    color: rgb(102, 102, 102);
    margin-top: 20px;
}
*/

#campo{    
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 5px;
    color: rgb(102, 102, 102);
    font-family: Arial;
    font-size: 13px
}

.asterisco{
    
    color: red;
    font-size: 19px;
    margin-right: 3px ;
}


#pagina{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 30%;
    color: rgb(102, 102, 102);
}

#nome{
    font-size: 17px;  
    font-family: Arial, Helvetica, sans-serif;  

}

#nome > input{

    border: 1px solid rgb(102, 102, 102);
    border-radius: 8px;
    padding: 10px;
    padding-right: 68%;
    padding-bottom: 19px;
    margin-top: 10px; 
    margin-bottom: 30px;
       
}




#genero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;   
    color: rgb(102, 102, 102);  
    font-size: 17px;  
    font-family: Arial, Helvetica, sans-serif;
   

}

#tipoGenero{
    margin-top: 10px;
    font-size: 17px;  
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 30px;
  
}

input[type="radio"] {

    height:20px;
    width:20px;
    vertical-align: middle;
}



#dataNasc{

    display: flex;
    flex-direction: row;
    font-size: 17px;  
    font-family: Arial, Helvetica, sans-serif;  


    
}

#dataNascB{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    
}

#dataNascB > input{

    border: 1px solid rgb(102, 102, 102);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;     
    margin-bottom: 30px;
    margin-top: 15px;

}

#cpf > label{
    font-size: 17px;  
    font-family: Arial, Helvetica, sans-serif;  
}

#cpf > input {

    border: solid 1px rgb(102, 102, 102); 
    border-radius: 8px;
    padding: 10px;
    padding-right: 68%;
    padding-bottom: 19px;
    margin-top: 10px; 
    margin-bottom: 30px;
    
}




